*{
    font-family: sans-serif;
}

#body{
    height:100%;
    width:100vw;
    margin:-10px -10px -10px -10px;
    padding:0px 0px 0px 0px;
    border:0px 0px 0px 0px;
    background-color: #e8eaed;
    box-sizing: border-box;
    overflow: hidden;
    /* overflow-x: scroll; */
    
}
#navigation{
   height:180px;
   width:100vw;
   background-color: rgb(38, 38, 181);
   color: white;
}
#nav{
    display: flex;
}
#menus{
    display: flex;
}
#menus div{
    margin:1.7rem 1.2rem 0rem 1.2rem;
    font-size: 1rem;
    font-weight:bold;
    cursor: pointer;
}
#menus img{
    width:1.5rem;
    height:1.5rem;
    border-radius: 24px;
}
#menus button{
    width:5.4rem;
    height:2.9rem;
    border-radius: 5px;
    border-color: blue;
    margin:1.2rem 1.2rem 0rem 1.2rem;
    font-weight: bold;
    font-size: 1rem;
    color: blue;
    cursor: pointer;
}
#menus ion-icon{
  width:1.6rem;
  height:1.6rem;
}
.Profileactive{
    #profilecontainerbox{
        display:block;
    }
}
.Profileinactive{
    #profilecontainerbox{
        display:none;
    }
}
#profilearrowdesign{
    width:0px;
    height:0px;
    border-bottom: 20px solid white;
    border-right: 10px solid transparent;
    position: absolute;
    margin:-30px 0px 0px 0px;
    z-index: 1;
    border-left: 10px solid transparent;
}
#profilecontainerbox img{
    width:30px;
    height:30px;
    border-radius: 30px;
}
#profilecontainerbox{
    width:150px;
    height:150px;
    background-color: white;
    position: absolute;
    margin:-100px 0px 0px 150px;
    z-index: 2;
    padding:10px 10px 10px 10px;
    border-radius: 10px;

}
#profilecontainerbox #name{
    font-weight: bold;
}

#logo{
    display: flex;
    margin:1.2rem 28rem 0rem 9rem;
    font-size: 1.5rem; 
    font-weight: bold;
    cursor: pointer;
}
#logo ion-icon{
    margin:4px 10px 0px 0px;
    width:27px;
    height:27px;
}
#navrouters{
    display: flex;
    position: absolute;
    margin:6.2rem 0rem 0rem 11rem;
    font-size: 1.2rem;
    transition: 2s;
   
}
#navrouters div{
    margin-right: 4.3rem;
    padding:0.3rem 0.6rem 0.6rem 0.6rem;
    cursor: pointer;
    
    
    /* text-decoration: none; */
    /* width:170px;
     height:70px; */
}
.routepagehead{
    font-size: 28px;
    font-weight: bold;
    margin:20px 0px 10px 170px;
}
.routepageheaddesc{
    margin-left:170px;
}


#navrouters div:hover{
    background-color: rgb(50, 50, 177);
}
.Ractive{
    border-bottom: 1px solid white;
    background-color: rgb(50, 50, 177);
     
}
#navrouters ion-icon{
    margin:16px 10px 0px 0px;
}
#bodybackimg img{
    width:100vw;
    height:27.9rem;
}

#htextinimg{
    position: absolute;
    font-size: 3.6rem;
    font-weight:bolder;
    width:38.1rem;
    z-index: 1;
    margin:-27rem 0rem 0rem 12.4rem;
    color: white;
}
#ptextinimg{
    position: absolute;
    font-size: 1.4rem;
    font-weight:bolder;
    width:38.1rem;
    z-index: 1;
    margin:-14rem 0rem 0rem 12.2rem;
    color: white;
}
#discoverbut{
    background-color: rgb(69, 69, 243);
    padding:1.2rem 1rem 1.2rem 1rem;
    font-size: 1rem;
    color: white;
    width:13rem;
    border-radius: 5px;
    position: absolute;
    margin:-10rem 0rem 0rem 12.4rem;
    z-index: 1;
    cursor: pointer;
}
#Staysinputdetails input{
    /* position: absolute; */
    width:290px;
    height:30px;
    border: none;
    outline: none;
    margin:20px 0px 10px 10px;

     /* margin-top: 0px;  */
     /* margin-top: -180px; */



}
#Staysinputdetails ion-icon{
    font-size: 25px;
    margin:18px 15px 0px 10px;
}

#Staysinputdetails input::placeholder{
    font-size: 20px;
}
/* #iusericon{
    position: absolute;
} */
#Staysinputdetails{
    display: flex;
    position: absolute;
    /* padding:5px 5px 5px 5px; */
    margin:-40px 0px 0px 230px;
}
 #Staysinputdetails #inputplace{
    display: flex;
    width:340px;
    height:60px;
    background-color: white;
    border:5px solid orange;
    /* margin:-50px 0px 0px 30px; */
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* padding:5px 5px 5px 5px; */

}
#Staysinputdetails #inputmembers{
    display: flex;
    width:340px;
    height:60px;
    background-color: white;
    border:5px solid orange;
    /* border-radius: 10px; */
   


}
#Staysinputdetails #inputdate{
    display:flex;
    padding: 20px 5px 0px 5px;
    height: 60px;
    background-color: white;
    border:5px solid orange;
   

}
#Staysinputdetails #search{
    width:110px;
    height: 60px;
    font-size: 16px;
     border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:5px solid orange;
    background-color: rgb(52, 52, 249);
    color:white;

}
#staysrentdate{
    margin:50px 0px 0px 500px;
    position:absolute;
    z-index: 1;
}
.StaysCalinactive{
    #staysrentdate{
        display:none;
    }
}
.StaysCalactive{
    #staysrentdate{
        display: block;
    }
}
#Flightsinputdetails input{
    /* position: absolute; */
    width:290px;
    height:40px;
    border: none;
    outline: none;
    margin:10px 0px 10px 10px;
    font-size: 20px;

     /* margin-top: 0px;  */
     /* margin-top: -180px; */



}
#Flightsinputdetails ion-icon{
    font-size: 23px;
    margin:15px 15px 0px 10px;
    color:rgb(118, 118, 118);
}

#Flightsinputdetails input::placeholder{
    font-size: 20px;
}
/* #iusericon{
    position: absolute;
} */
#Flightsinputdetails{
    display: flex;
    position: absolute;
    /* padding:5px 5px 5px 5px; */
    margin:40px 0px 0px 160px;
}
 #Flightsinputdetails #Finputplace{
    display: flex;
    width:210px;
    height:60px;
    background-color: white;
    border:5px solid orange;
    /* margin:-50px 0px 0px 30px; */
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* padding:5px 5px 5px 5px; */

}
#Finputplace input{
    width:140px;
}

#Flightsinputdetails #Finputmembers{
    display: flex;
    width:300px;
    height:60px;
    background-color: white;
    border:5px solid orange;
    /* border-radius: 10px; */
   


}
#Finputmembers input{
    width:170px;
}
#Flightsinputdetails #Finputdate{
    display:flex;
    padding: 20px 5px 0px 5px;
    height: 60px;
    background-color: white;
    border:5px solid orange;
    width:400px;
   

}
#Finputdate input{
    width:170px;
    margin-top: -10px;
}
#Flightsinputdetails #inputToplace{
    width:200px;
    height:60px;
    background-color: white;
    border:5px solid orange;
}
#Flightsinputdetails #inputhipen{
    width:30px;
}
#inputToplace input{
    width:180px;
}
#Flightsinputdetails #search{
    width:110px;
    height: 60px;
    font-size: 16px;
     border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:5px solid orange;
    background-color: rgb(52, 52, 249);
    color:white;

}
#FPopularlistcontainer{
    margin:130px 0px 10px 170px;
}
#FPopularlistcontainer #Foptions{
    display:flex;
    margin:20px 0px 10px 10px;
}
#Foptions div{
    margin:10px 20px 10px 10px;
    border:1px solid blue;
    padding:8px 8px 8px 8px;
    border-radius: 7px;
    cursor: pointer;
}
#FPopularhead{
    font-weight: bold;
    font-size: 22px;
}
#FPopulardesc{
    margin-top: 10px;
    font-size: 19px;
    color:rgb(85, 84, 84);
}
#Fpopularcardcontainer{
    height:200px;
}
#Popularflightslistcontainer{
    margin:60px 0px 20px 50px;
    width:1020px;
}
#Popularflightsimage img{
    width:200px;
    height:150px;
    border-radius: 5px;
}
#Popularflightsplace{
    font-weight: bold;
}
#Rentinputdetails input{
    /* position: absolute; */
    width:290px;
    height:40px;
    border: none;
    outline: none;
    margin:10px 0px 10px 10px;
    font-size: 20px;

     /* margin-top: 0px;  */
     /* margin-top: -180px; */



}
#Rentinputdetails ion-icon{
    font-size: 25px;
    margin:15px 15px 0px 10px;
}

#Rentinputdetails input::placeholder{
    font-size: 20px;
}
/* #iusericon{
    position: absolute;
} */
#Rentinputdetails{
    display: flex;
    position: absolute;
    /* padding:5px 5px 5px 5px; */
    margin:50px 0px 0px 160px;
}
 #Rentinputdetails #Rentinputplace{
    display: flex;
    width:210px;
    height:60px;
    background-color: white;
    border:5px solid orange;
    /* margin:-50px 0px 0px 30px; */
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* padding:5px 5px 5px 5px; */

}
#Rentinputplace input{
    width:140px;
}

#Rentinputdetails #Rentinputmembers{
    display: flex;
    width:300px;
    height:60px;
    background-color: white;
    border:5px solid orange;
    /* border-radius: 10px; */
   


}
#Rentinputmembers input{
    width:170px;
}
#Rentinputdetails #Rentinputdate{
    display:flex;
    padding: 18px 5px 0px 5px;
    height: 60px;
    background-color: white;
    border:5px solid orange;
    width:400px;
   

}
#Rentinputdate input{
    width:170px;
    margin-top: -10px;
}

#Rentinputdetails #RentinputToplace{
    width:200px;
    height:60px;
    background-color: white;
    border:5px solid orange;
}
#Rentinputdetails #Rentinputhipen{
    width:30px;
}
#RentinputToplace input{
    width:180px;
}
#Rentinputdetails #search{
    width:110px;
    height: 60px;
    font-size: 16px;
     border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:5px solid orange;
    background-color: rgb(52, 52, 249);
    color:white;

}
#Renthiredestination{
    margin:140px 0px 10px 150px;
}
#Renthiredestination #head{
    font-weight: bold;
    font-size: 22px;
    margin:10px 0px 0px 15px;
}
#Renthiredestination #desc{
    font-size:17px;
    margin: 10px 0px 0px 15px;
    color:rgb(107, 106, 106);
}
#Renthiredestination #buttonsoptions{
    display:flex;
    margin:20px 0px 10px 30px;
}
#buttonsoptions div{
    margin-right: 20px;
    width:150px;
    height:50px;
    border:1px solid rgb(105, 105, 235);
    padding:10px 5px 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}
#CarhiredestiCard{
    background-color: rgb(198, 199, 199);
    width:200px;
    padding:5px 5px 5px 5px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
}
#Carhiredestinations{
    margin:30px 0px 10px 60px ;
    width:1000px;
    height:600px;
}
#Carhiredestinationname{
    font-weight: bold;
    margin:7px 0px 5px 35px;
}
#Carhiredestinationavailable
{
    margin:3px 0px 5px 18px;
}
#Carhiredestinationprice
{
    margin:3px 0px 5px 35px;
}
#Carhiredestinationimage img{
    width:190px;
    height:150px;
    border-radius: 7px;
}

#Airporttaxicontainer #Airrootechoice{
    display:flex;
    margin:20px 0px 10px 190px;
}
#Airrootechoice div{
    margin:0px 20px 0px 0px;
}
#Airrootechoice input{
    margin:12px 10px 0px 0px;
    width:20px;
    height:20px;
}
#Airportinputdetails input{
    /* position: absolute; */
    width:290px;
    height:40px;
    border: none;
    outline: none;
    margin:10px 0px 10px 10px;
    font-size: 20px;

     /* margin-top: 0px;  */
     /* margin-top: -180px; */



}
#Airportinputdetails ion-icon{
    font-size: 25px;
    margin:18px 15px 0px 10px;
}

#Airportinputdetails input::placeholder{
    font-size: 20px;
}
/* #iusericon{
    position: absolute;
} */
#Airportinputdetails{
    display: flex;
    position: absolute;
    /* padding:5px 5px 5px 5px; */
    margin:10px 0px 0px 165px;
}
 #Airportinputdetails #Airportinputplace{
    display: flex;
    width:210px;
    height:60px;
    background-color: white;
    border:5px solid orange;
    /* margin:-50px 0px 0px 30px; */
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* padding:5px 5px 5px 5px; */

}
#Airportinputplace input{
    width:145px;
}

#Airportinputdetails #Airportinputmembers{
    display: flex;
    width:300px;
    height:60px;
    background-color: white;
    border:5px solid orange;
    /* border-radius: 10px; */
   


}
#Airportinputmembers input{
    width:170px;
}
#Airportinputdetails #Airportinputdate{
    display:flex;
    padding: 18px 5px 0px 5px;
    height: 60px;
    background-color: white;
    border:5px solid orange;
    width:400px;
   

}
#Airportinputdate input{
    width:170px;
    margin-top: -10px;
}
#Airportinputdetails #AirportinputToplace{
    width:200px;
    height:60px;
    background-color: white;
    border:5px solid orange;
}
#Airportinputdetails #Airportinputhipen{
    width:30px;
}
#AirportinputToplace input{
    width:180px;
}
#Airportinputdetails #search{
    width:110px;
    height: 60px;
    font-size: 16px;
     border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:5px solid orange;
    background-color: rgb(52, 52, 249);
    color:white;

}
#Airportrentdate{
    margin:100px 0px 0px 400px;
    position: absolute;
}
.AirportCalinactive{
    #Airportrentdate{
        display:none;
    }
}
.AirportCalactive{
    #Airportrentdate{
        display:block;
    }
}

#inputdate input{
    width:160px;
    margin:-5px 20px 0px 20px;
}
#checkboxforflight input{
    margin: 60px 10px 0px 240px;
    width:20px;
    height: 20px;
}
#checkboxforflight{
    font-size: 17px;
    color: rgb(79, 78, 78);
    
}
#offers h2{
    margin:40px 0px 10px 240px;
    font-size: 27px;
    font-weight: bold;
}
#offerdesc{
    color:rgb(110, 111, 111);
    font-size: 17px;
    margin:20px 0px 10px 240px;
}
#offerboxes{
    display: flex;
    margin:30px 0px 10px 230px;
}
#flights{
    border: 1px solid rgb(188, 187, 187);
    height:205px;
    width:600px;
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
}
#flights img{
    width:140px;
    height:140px;
    position: absolute; 
    margin:-70px 20px 0px 270px;
}
#flighthead{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}
#flightdesc{
    margin-top: 18px;
    color:rgb(89, 88, 88);
}
#flights button{
    background-color: rgb(50, 50, 248);
    height:40px;
    width:160px;
    color:white;
    margin:15px 0px 0px 0px;
    border-radius:10px;
    font-size: 16px;
}
#Frentdate{
    position: absolute;
    margin:120px 0px 0px 500px;
}
.Finteroptbutactive{
    background-color: blueviolet;
    color:white;
}
.Fdomesoptbutactive{
    background-color: blueviolet;
    color:white;
}
.Finteroptbutinactive{
    background-color: whitesmoke;
    color:black;
}
.Fdomesoptbutinactive{
    background-color:whitesmoke;
    color:black;
}
.FCalinactive{
    #Frentdate{
        display: none;
    }
}
.FCalactive{
    #Frentdate{
        display: block;
    }
}
#gateway{
    width:520px;
    height:200px;
}
#gateway img{
    width:600px;
    height:200px;
    border-radius: 12px;
}
#gatehead{
    font-weight: bold;
    font-size: 20px;
    margin: -180px 0px 0px 20px;
    position: absolute;
    color:rgb(252, 251, 251);
}
#gatedesc{
   position: absolute; 
   margin:-150px 0px 0px 20px;
   font-size: 16px;
   width:440px;
   color: white;
}
#gateway button{
    position:absolute;
    margin:-70px 0px 0px 20px;
    height: 40px;
    background-color:rgb(50, 50, 248) ;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
#propertytype{
    margin:100px 0px 0px 250px;
}
#propertytype h2{
     font-size: 20px;
     font-weight: bold;
}
#properties{
    width:1100px;
    margin-top:40px;
    font-weight: bold;
    overflow-x:scroll;
    overflow-y:hidden;
    height: 350px;
    scrollbar-width: none;
}
#properties img{
    width:250px;
    border-radius: 20px;
    margin:5px 20px 5px 10px;
    cursor: pointer;
}
#propertyname{
    font-size: 20px;
    margin:15px 0px 0px 90px;
}
#property{
    display: flex;
}
#PLeftarrow,#PRightarrow{
    width:40px;
    height:40px;
    background-color:white;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
#PLeftarrow{
    position:absolute;
    margin:90px 0px 0px -18px;
    cursor: pointer;
}
#PRightarrow{
    position: absolute;
    margin:90px 0px 0px 1078px;
    cursor: pointer;
}
#Regcontainer{
  width:500px;
  height:670px;
  background-color: rgb(228, 228, 228);
  position: fixed;
  margin:-130px 0px 0px 520px;
  padding:20px 20px 20px 20px;
  z-index: 2;
  border: 1px solid black;
  border-radius: 10px;
}
#Regcontainer h4{
   font-size: 22px;
   margin:40px 0px 30px 80px;
}
#Regcontainer label,h4{
    font-weight: bold;
    margin:0px 0px 10px 50px;
}
#Regcontainer input{
    width:360px;
    height:43px;
    margin:30px 0px 20px 50px;
}
#Rxclose,#Lxclose{
    width:40px;
    height: 20px;
    background-color: red;
    text-align: center;
    margin:-20px 0px 0px 439px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.signupbut{
    margin:20px 0px 0px 200px;
    background-color: rgb(50, 50, 248);
    color:azure;
    padding:7px 7px 7px 7px;
    cursor: pointer;
    border-radius: 5px;
}
#orsplit{
    width:600px;
    margin:20px 0px 0px 50px;
}
#logcontainer{
  width:500px;
  height:670px;
  background-color: rgb(228, 228, 228);
  position: fixed;
  margin:-130px 0px 0px 520px;
  padding:20px 20px 20px 20px;
  z-index: 2;
  border: 1px solid black;
  border-radius: 10px;
}
#logcontainer h4{
   font-size: 22px;
   margin:40px 0px 30px 80px;
}
#logcontainer label,h4{
    font-weight: bold;
    margin:20px 0px 10px 50px;
}
#logcontainer input{
    width:360px;
    height:43px;
     margin:30px 0px 10px 50px;
}
.signinbut{
    margin:20px 0px 0px 200px;
    background-color: rgb(50, 50, 248);
    color:azure;
    padding:7px 7px 7px 7px;
    cursor: pointer;
    border-radius: 5px;

}
.containerswitches{
    margin:20px 0px 0px 90px;
}
#Rlogbut,#LRegbut{
    font-weight: bold;
    cursor: pointer;
}
.orsplit{
    width:600px;
    margin:20px 0px 0px 50px;
}

.Reinactive{
    #Regcontainer{
        display: none;
    }
}
.Reactive{
    #Regcontainer{
        display: block;
    }
}
.Linactive{
    #logcontainer{
        display: none;
    }
}
.Lactive{
    #logcontainer{
        display: block;
    }
}
.responsemsg{
    margin:20px 0px 0px 100px;
}
.GoogleLogin{
    margin:40px 0px 0px 100px;
    
}
#Fandhinputdetails{
    width:1100px;
    height:80px;
    background-color: rgb(246, 246, 249);
    margin:50px 0px 0px 180px;
    border:4px solid orange;
    border-radius: 10px;
    display: flex;
    padding:10px 10px 10px 10px;
}
#Fandhroutecontainerhead{
    padding:20px 10px 40px 10px;
}
#Fandhinputdetails>div{
    width:240px;
    height:50px;
    background-color: #e5e6e6d1;
    margin:0px 10px 10px 0px;
    border-radius: 5px;
    padding:0px 5px 5px 10px;
    cursor: pointer;
}
#Fandhinputdetails #search{
    width:40px;
    height:50px;
    border-radius: 15px;
    background-color: blue;
    text-align: center;
    padding:10px 10px 0px 10px;
}
#Fandhinputdetails ion-icon{
    font-size: 22px;
    color:white;
    margin-top: 10px;
}
#Fandhinputdetails input{
    height:22px;
    width:210px;
    margin-top:5px;
    border:none;
    outline: none;
    background-color:#e5e6e6d1;

}
#Fandhinputdetails input::placeholder{
    font-size:15px;
}
#Fandhinputdetails .inputhead{
    color:rgb(137, 137, 137);
}
#Attractinputdetails{
    width:1100px;
    height:60px;
    background-color: rgb(246, 246, 249);
    margin:50px 0px 0px 180px;
    border:4px solid orange;
    border-radius: 10px;
    display: flex;
    /* padding:10px 10px 10px 10px; */
}
#Attractinputdetails>div{
    width:505px;
    height:52px;
    background-color: #e5e6e6d1;
    margin:0px 0px 0px 0px;
    /* border-radius: 5px; */
    padding:10px 5px 5px 10px;
    cursor: pointer;
}
#Attractinputdetails #search{
     width:110px;
    height: 53px;
    font-size: 16px;
     border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left:4px solid orange;
    background-color: rgb(52, 52, 249);
    color:white;
    cursor: pointer;
    outline: none;
}
#Attractinputdetails input{
    width:430px;
    height:45px;
    border: none;
    outline: none;
    margin:-5px 0px 0px 0px;
    font-size: 20px;
    background-color: #e5e6e6d1;

}
#Adestinationinput{
    display:flex;
    border-right: 1px solid black;
}
#Adestinationinput ion-icon{
    margin:7px 10px 0px 0px;
    font-size: 23px;
}
#Adateinput{
    display: flex;
}
#Attractrentdate{
    margin:20px 0px 0px 600px;
    position: absolute;
}
.AttractCalinactive{
    #Attractrentdate{
        display:none;
    }
}
.AttractCalactive{
    #Attractrentdate{
        display:block;
    }
}

#Adateinput ion-icon{
   margin:7px 10px 0px 0px;
   font-size: 23px;
}
#ARecomendhead{
    margin:50px 0px 10px 170px;
    font-size: 25px;
    font-weight: bold;
}
#ARecommendcards{
    margin:50px 100px 10px 180px;
    height:600px;
}
#Arecommendplaceimage img{
    width:230px;
    height:230px;
    border-radius: 7px;
    cursor: pointer;
}
#Arecommendplacename{
    font-weight: bold;
}

#carrentdate{
    position:absolute;
    margin:90px 0px 0px 500px;
}

.CarCalinactive{
    #carrentdate{
        display:none;
    }
}
.CarCalactive{
    #carrentdate{
        display:block;
    }
}




@media (min-width:1200px) and (max-width:1450px)
{
    #logo{
        margin:0px 150px 0px 80px;
    }
    #navrouters{
        margin-left: 130px;
    }
    
}

